<div class="container">

    <h1 class="text-center page-header"> <strong>Amne Assignment</strong></h1>

    <div id="map" class="text-center"></div>

    <div id="input-area" class="row">
        <div class="col-lg-6">
            <div class="input-group">
                  <span class="input-group-addon">
                    <label for="address1">Address-1</label>
                  </span>
                 <input id="address1" type="text" class="form-control" placeholder="123 Austin TX">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                  <span class="input-group-addon">
                    <label for="address2">Address-2</label>
                  </span>
                <input id="address2" type="text" class="form-control" placeholder="234 Austin TX">
            </div>
        </div>
    </div>

    <div>
        <a id="executeQuery" class="btn btn-primary btn-block"> Get the list! </a>
        <a id="clearEveything" class="btn btn-danger btn-block"> Clear! </a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Place</th>
            <th>Total Distance(miles)</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="real in model.realEstateAgents | orderBy: 'distance'">
            <td>{{real.place.name}}</td>
            <td>{{real.place.vicinity}}</td>
            <td>{{real.distance * 0.000621371 | number:2}}</td>
            <td>{{real.place.rating}}</td>
        </tr>
        </tbody>
    </table>


</div>